<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="page">
<style>
    /*********************************
     The list of publication items
     *********************************/
/* The list of items */
.biblist { }

/* The item */
.biblist li { }

/* You can define custom styles for plstyle field here. */


/*************************************
 The box that contain BibTeX code
 *************************************/
div.noshow { display: none; }
div.bibtex {
	margin-right: 0%;
	margin-top: 1.2em;
	margin-bottom: 1em;
	border: 1px solid silver;
	padding: 0em 1em;
	background: #ffffee;
}
div.bibtex pre { font-size: 75%; overflow: auto;  width: 100%; padding: 0em 0em;}</style>
<script type="text/javascript">
    <!--
    // Toggle Display of BibTeX
    function toggleBibtex(articleid) {
        var bib = document.getElementById('bib_'+articleid);
        if (bib) {
            if(bib.className.indexOf('bibtex') != -1) {
                bib.className.indexOf('noshow') == -1?bib.className = 'bibtex noshow':bib.className = 'bibtex';
            }
        } else {
            return;
        }
    }
-->
    </script>

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http://' %}
      "{{ page.image.feature }}"
    {% elsif page.image.feature contains 'https://' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}

<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <article>
    <h1>{{ page.title }}</h1>
    <div class="article-wrap">
      {{ content }}



<h4 style="margin-bottom:0px;padding-top:20px;">Book Chapter</h4>

    <ul class="biblist">
	    
<li ><p>
<b>Deep-learning based 3D vision</b>
<br>I. Kweon, <b>F. Rameau</b> <br>	
<i>Computer Vision: A reference guide (2nd Edition), Katsushi Ikeuchi, Springer 2021</i>
<br />
</li>

</ul>



<h4 style="margin-bottom:0px;padding-top:20px;">International Journals</h4>

    <ul class="biblist">
	    
<li ><p>
<b>CCTV-Calib: a Toolbox to Calibrate Surveillance Cameras Around the Globe</b>
<br> <b>F. Rameau</b>, J. Choe, F. Pan, S. Lee, I.S. Kweon <br>
<i>IEEE/CAA Journal of Automatica Sinica,</i>
<i>2022 (submitted)</i>
<br />
</p>
</li>
	    
<li ><p>
<b>A Deep Perceptual Measure for Lens and Camera Calibration</b>
<br> Y. Hold-Geoffroy, D. Piche-Meunier, K. Sunkavalli, J.C. Bazin, <b>F. Rameau</b>, J.F. Lalonde <br>
<i>IEEE Transactions on Pattern Analysis and Machine Intelligence (T-PAMI),</i>
<i>2022 (under minor revision)</i>
<br />
</p>
</li>
	   
<li ><p>
<b>Self-supervised Monocular Depth and Motion Learning in Dynamic Scenes: Semantic Prior to Rescues</b>
<br> S. Lee, <b>F. Rameau</b>, S. Im, I.S. Kweon <br>
<i>International Journal of Computer Vision (IJCV),</i>
<i>2022 </i>
<br />
<a href="javascript:toggleBibtex('lee2022self')">[BibTeX]</a>
<a href="https://www.sciencedirect.com/science/article/pii/S1077314221001818" target="_blank">[PDF]</a>
</p>
<div id="bib_lee2022self" class="bibtex noshow">
<pre>
@article{lee2022self,
  title={Self-Supervised Monocular Depth and Motion Learning in Dynamic Scenes: Semantic Prior to Rescue},
  author={Lee, Seokju and Rameau, Francois and Im, Sunghoon and Kweon, In So},
  journal={International Journal of Computer Vision},
  volume={130},
  number={9},
  pages={2265--2285},
  year={2022},
  publisher={Springer}
}

</pre>
</div>
</li>	    
	     	    
	   
<li ><p>
<b>MC-Calib: A generic and robust calibration toolbox for multi-camera systems</b>
<br> <b>F. Rameau</b>, J. Park, O. Bailo, I. Kweon<br>	
	Francois Rameau, Jinsun Park, Oleksandr Bailo, In So Kweon
<i>Computer Vision and Image Understanding (CVIU),</i>
<i>2022</i>
<br />
<a href="javascript:toggleBibtex('rameau2022mc')">[BibTeX]</a>
<a href="https://www.sciencedirect.com/science/article/pii/S1077314221001818" target="_blank">[PDF]</a>
</p>
<div id="bib_rameau2022mc" class="bibtex noshow">
<pre>
@article{rameau2022mc,
  title={MC-Calib: A generic and robust calibration toolbox for multi-camera systems},
  author={Rameau, Francois and Park, Jinsun and Bailo, Oleksandr and Kweon, In So},
  journal={Computer Vision and Image Understanding},
  pages={103353},
  year={2022},
  publisher={Elsevier}
}
</pre>
</div>
</li>	    

<li ><p>
<b>Real-time localization of a swarm of cars and application to multi-car see-through</b>
<br> <b>F. Rameau</b>, O. Bailo, J. Park, K. Joo., I. Kweon<br>	
<i>International Journal of Computer Vision (IJCV),</i>
<i>2022</i>
<br />
<a href="javascript:toggleBibtex('rameau2022real')">[BibTeX]</a>
<a href="https://link.springer.com/article/10.1007/s11263-021-01558-5" target="_blank">[PDF]</a>
</p>
<div id="bib_rameau2022real" class="bibtex noshow">
<pre>
@article{rameau2022real,
  title={Real-Time Multi-Car Localization and See-Through System},
  author={Rameau, Francois and Bailo, Oleksandr and Park, Jinsun and Joo, Kyungdon and Kweon, In So},
  journal={International Journal of Computer Vision},
  pages={1--21},
  year={2022},
  publisher={Springer}
}
</pre>
</div>
</li>
	  
<li ><p>
<b>A Large-scale Virtual Dataset and Egocentric Localization for Disaster Responses</b>
<br> H.G. Jeon, S. Im, B.U. Lee, <b>F. Rameau</b>, D.G. Choi, J. Oh, I. S. Kweon, M. Hebert<br>	
<i>IEEE Transactions on Pattern Analysis and Machine Intelligence (T-PAMI),</i>
<i>2022</i>
<br />
<a href="javascript:toggleBibtex('jeon2021large')">[BibTeX]</a>
<a href="https://ieeexplore.ieee.org/abstract/document/9476992/" target="_blank">[PDF]</a>
</p>
<div id="bib_jeon2021large" class="bibtex noshow">
<pre>
@article{jeon2021large,
  title={A Large-scale Virtual Dataset and Egocentric Localization for Disaster Responses},
  author={Jeon, Hae-Gon and Im, Sunghoon and Lee, Byeong-Uk and Rameau, Francois and Choi, Dong-Geol and Oh, Jean and Kweon, In So and Hebert, Martial},
  journal={IEEE Transactions on Pattern Analysis and Machine Intelligence},
  year={2021},
  publisher={IEEE}
}
</pre>
</div>
</li>	    
	    


<li ><p>
<b>Latent Question Interpretation Through Parameter Adaptation Using Stochastic Neuron</b>
<br>T. Parshakova, <b>F. Rameau</b>, I. Kweon, D.S. Kim<br>	
<i>IEEE/ACM Transactions on Audio, Speech, and Language Processing,</i>
<i>2019</i>
<br />
<a href="javascript:toggleBibtex('parshakova2019latent')">[BibTeX]</a>
<a href="https://ieeexplore.ieee.org/document/8768225" target="_blank">[PDF]</a>
<a href="https://github.com/parshakova/APIP">[Code]</a>
</p>
<div id="bib_parshakova2019latent" class="bibtex noshow">
<pre>
@article{parshakova2019latent,
  title={Latent Question Interpretation Through Variational Adaptation},
  author={Parshakova, Tetiana and Rameau, Francois and Serdega, Andriy and Kweon, In So and Kim, Dae-Shik},
  journal={IEEE/ACM Transactions on Audio, Speech, and Language Processing},
  volume={27},
  number={11},
  pages={1713--1724},
  year={2019},
  publisher={IEEE}
}
</pre>
</div>
</li>
	    
<li ><p>
<b>Efficient adaptive non-maximal suppression algorithms for homogeneous spatial keypoint distribution</b>
<br>O. Bailo, <b>F. Rameau</b>, K. Joo, J. Park, O. Bogdan, I. Kweon<br>	
<i>Pattern Recognition Letters (PRL),</i>
<i>Feb 2018</i>
<br />
<a href="javascript:toggleBibtex('bailo2018efficient')">[BibTeX]</a>
<a href="https://www.researchgate.net/profile/Francois_Rameau/publication/323388062_Efficient_adaptive_non-maximal_suppression_algorithms_for_homogeneous_spatial_keypoint_distribution/links/5a9272be45851535bcd808b8/Efficient-adaptive-non-maximal-suppression-algorithms-for-homogeneous-spatial-keypoint-distribution.pdf" target="_blank">[PDF]</a>
<a href="https://github.com/BAILOOL/ANMS-Codes">[Code]</a>
</p>
<div id="bib_bailo2018efficient" class="bibtex noshow">
<pre>
@article{bailo2018efficient,
  title={Efficient adaptive non-maximal suppression algorithms for homogeneous spatial keypoint distribution},
  author={Bailo, Oleksandr and Rameau, Francois and Joo, Kyungdon and Park, Jinsun and Bogdan, Oleksandr and Kweon, In So},
  journal={Pattern Recognition Letters},
  volume={106},
  pages={53--60},
  year={2018},
  publisher={Elsevier}
}
</pre>
</div>
</li>


<li ><p>
<b>A real-time augmented reality system to see-through cars</b>
<br><b>F. Rameau</b>, H. Ha, K. Joo, J. Choi, K. Park, I. Kweon<br>	
<i>IEEE transactions on visualization and computer graphics (TVCG),</i>
<i>Dec 2016</i>
<br />
<a href="javascript:toggleBibtex('rameau2016real')">[BibTeX]</a>
<a href="https://www.researchgate.net/profile/Francois_Rameau/publication/305695638_A_Real-time_Augmented_Reality_System_to_See-Through_Cars/links/59e43c7baca2724cbfe43651/A-Real-time-Augmented-Reality-System-to-See-Through-Cars.pdf?_sg%5B0%5D=iu1C7FR4z27DPf_4SqZizA7LNwdl9uCKVvOOU7AovEyi_T9s2DqaYm_TlR1s0jG6z3j1rJZvtQ6F9fEJh25x4A.KmR0NckGm6qkNTMLKjVuw4DZge9YqBW5CNkM56GmI-ff5l-IeMQl5js_-L_bs_1pWN3Nw3LO5BsFwtaXVgiR-A&_sg%5B1%5D=ld2pXuIdTF8PlBRRm9_KKs_gGg6SVtBbQOE7k-GSfIyzktOSnDKaOIrdfZfeeIHUHwng46r8GWwkSmz6QjxSJOr2D0dBmsUQFJIX26exO55C.KmR0NckGm6qkNTMLKjVuw4DZge9YqBW5CNkM56GmI-ff5l-IeMQl5js_-L_bs_1pWN3Nw3LO5BsFwtaXVgiR-A&_iepl=" target="_blank">[PDF]</a>
</p>
<div id="bib_rameau2016real" class="bibtex noshow">
<pre>
@article{rameau2016real,
  title={A real-time augmented reality system to see-through cars},
  author={Rameau, Fran{\c{c}}ois and Ha, Hyowon and Joo, Kyungdon and Choi, Jinsoo and Park, Kibaek and Kweon, In So},
  journal={IEEE transactions on visualization and computer graphics},
  volume={22},
  number={11},
  pages={2395--2404},
  year={2016},
  publisher={IEEE}
}
</pre>
</div>
</li>

<li ><p>
<b>Visual tracking with omnidirectional cameras: an efficient approach</b>
<br><b>F. Rameau</b>, D. Sidibé, C. Demonceaux, D. Fofi<br>	
<i>Electronics letters (EL),</i>
<i>Oct 2011</i>
<br />
<a href="javascript:toggleBibtex('rameau2011visual')">[BibTeX]</a>
<a href="http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.658.1888&rep=rep1&type=pdf" target="_blank">[PDF]</a>
</p>
<div id="bib_rameau2011visual" class="bibtex noshow">
<pre>
@article{rameau2011visual,
  title={Visual tracking with omnidirectional cameras: an efficient approach},
  author={Rameau, Fran{\c{c}}ois and Sidib{\'e}, DD and Demonceaux, Cedric and Fofi, David},
  journal={Electronics letters},
  volume={47},
  number={21},
  pages={1183--1184},
  year={2011},
  publisher={IET}
}
</pre>
</div>
</li>


</ul>


<h4 style="margin-bottom:0px;padding-top:20px;">International Conferences</h4>

    <ul class="biblist">
<!--...
<li ><p>
<b> Introducing Dense Shortcuts to ResNet </b>
<br> C. Zhang, P. Benz, D. Mureja, S. Lee, J. Kim, <b>F. Rameau</b>, J.C. Bazin, I. Kweon <br>	
<i>European Conference on Computer Vision (ECCV), submitted </i><i> 2020</i>
<br />
</p>
</li>

<li ><p>
<b> Stereo Object Matching Network </b>
<br> J. Choe, K. Joo, <b>F. Rameau</b>, I. Kweon <br>	
<i>European Conference on Computer Vision (ECCV), submitted </i><i> 2020</i>
<br />
</p>
</li>

<li ><p>
<b> Optical Flow Estimation from a Single Motion-Blurred Image </b>
<br> D. Mureja, J. Kim, <b>F. Rameau</b>, J.W. Cho, I. Kweon <br>	
<i>European Conference on Computer Vision (ECCV), submitted </i><i> 2020</i>
<br />
</p>
</li>

<li ><p>
<b> Restoration of Video Frames from a Single Blurred Image with Motion Understanding </b>
<br> D. Mureja, J. Kim, <b>F. Rameau</b>, C. Zhang, I. Kweon <br>	
<i>European Conference on Computer Vision (ECCV), submitted </i><i> 2020</i>
<br />
</p>
</li>
-->
	    
<li ><p>
<b> Deep Point Cloud Reconstruction </b>
<br> J. Choe, B. Joung, <b>F. Rameau</b>, J. Park, I. Kweon <br>	
<i>International Conference on Learning Representations (ICLR) </i><i> 2022</i>
<br />
</p>
</li>	    
	  
<li ><p>
<b> Attentive and contrastive learning for joint depth and motion field estimation </b>
<br> S. Lee, <b>F. Rameau</b>, F. Pan, I. Kweon <br>	
<i>International Conference on Computer Vision (ICCV) </i><i> 2021</i>
<br />
<a href="javascript:toggleBibtex('Lee_2021_ICCV')">[BibTeX]</a>
<a href="https://openaccess.thecvf.com/content/ICCV2021/papers/Lee_Attentive_and_Contrastive_Learning_for_Joint_Depth_and_Motion_Field_ICCV_2021_paper.pdf" target="_blank">[PDF]</a>
</p>
<div id="bib_Lee_2021_ICCV" class="bibtex noshow">
<pre>
@InProceedings{Lee_2021_ICCV,
    author    = {Lee, Seokju and Rameau, Francois and Pan, Fei and Kweon, In So},
    title     = {Attentive and Contrastive Learning for Joint Depth and Motion Field Estimation},
    booktitle = {Proceedings of the IEEE/CVF International Conference on Computer Vision (ICCV)},
    month     = {October},
    year      = {2021},
    pages     = {4862-4871}
}
</pre>
</div>
</li>	 
	    
	    
<li ><p>
<b> Volumefusion: Deep depth fusion for 3d scene reconstruction </b>
<br> J. Choe, S. Im, <b>F. Rameau</b>, M. Kang, I. Kweon <br>	
<i>International Conference on Computer Vision (ICCV) </i><i> 2021</i>
<br />
<a href="javascript:toggleBibtex('Choe_2021_ICCV')">[BibTeX]</a>
<a href="https://openaccess.thecvf.com/content/ICCV2021/papers/Choe_VolumeFusion_Deep_Depth_Fusion_for_3D_Scene_Reconstruction_ICCV_2021_paper.pdf" target="_blank">[PDF]</a>
</p>
<div id="bib_Choe_2021_ICCV" class="bibtex noshow">
<pre>
@InProceedings{Choe_2021_ICCV,
    author    = {Choe, Jaesung and Im, Sunghoon and Rameau, Francois and Kang, Minjun and Kweon, In So},
    title     = {VolumeFusion: Deep Depth Fusion for 3D Scene Reconstruction},
    booktitle = {Proceedings of the IEEE/CVF International Conference on Computer Vision (ICCV)},
    month     = {October},
    year      = {2021},
    pages     = {16086-16095}
}
</pre>
</div>
</li>	 	    	    
	    
<li ><p>
<b> Stereo Object Matching Network </b>
<br> J. Choe, K. Joo, <b>F. Rameau</b>, I. Kweon <br>	
<i>International Conference on Robotics and Automation (ICRA) </i><i> 2021</i>
<br />
<a href="javascript:toggleBibtex('choe2021stereo')">[BibTeX]</a>
<a href="https://ieeexplore.ieee.org/abstract/document/9562027" target="_blank">[PDF]</a>
</p>
<div id="bib_choe2021stereo" class="bibtex noshow">
<pre>
@inproceedings{choe2021stereo,
  title={Stereo object matching network},
  author={Choe, Jaesung and Joo, Kyungdon and Rameau, Francois and Kweon, In So},
  booktitle={2021 IEEE International Conference on Robotics and Automation (ICRA)},
  pages={12918--12924},
  year={2021},
  organization={IEEE}
}
</pre>
</div>
</li>	 	    
	    
	
	    
<li ><p>
<b> Optical Flow Estimation from a Single Motion-Blurred Image </b>
<br> D. Mureja, J. Kim, <b>F. Rameau</b>, C. Zhang, I. Kweon <br>	
<i>Association for the Advancement of Artificial Intelligence (AAAI) </i><i> 2021</i>
<br />
<a href="javascript:toggleBibtex('argaw2021optical')">[BibTeX]</a>
<a href="https://www.aaai.org/AAAI21Papers/AAAI-3339.ArgawD.pdf" target="_blank">[PDF]</a>
</p>
<div id="bib_argaw2021optical" class="bibtex noshow">
<pre>
@inproceedings{argaw2021optical,
  title={Optical flow estimation from a single motion-blurred image},
  author={Argaw, Dawit Mureja and Kim, Junsik and Rameau, Francois and Cho, Jae Won and Kweon, In So},
  booktitle={AAAI Conference on Artificial Intelligence},
  year={2021}
}
</pre>
</div>
</li>	    
	    
<li ><p>
<b> Motion-blurred Video Interpolation and Extrapolation </b>
<br> D. Mureja, J. Kim, <b>F. Rameau</b>, J.W. Cho, I. Kweon <br>	
<i>Association for the Advancement of Artificial Intelligence (AAAI) </i><i> 2021</i>
<br />
<a href="javascript:toggleBibtex('argaw2021motion')">[BibTeX]</a>
<a href="https://www.aaai.org/AAAI21Papers/AAAI-3343.ArgawD.pdf" target="_blank">[PDF]</a>
</p>
<div id="bib_argaw2021motion" class="bibtex noshow">
<pre>
@inproceedings{argaw2021motion,
  title={Motion-blurred video interpolation and extrapolation},
  author={Argaw, Dawit Mureja and Kim, Junsik and Rameau, Francois and Kweon, In So},
  booktitle={AAAI Conference on Artificial Intelligence},
  year={2021}
}
</pre>
</div>
</li>
	    
<li ><p>
<b> ResNet or DenseNet: Dense shortcut might be a better solution </b>
<br> C. Zhang, P. Benz, J. Kim, S. Lee, D. MUREJA <b>F. Rameau</b>, J. Kim, J.C Bazin, I. Kweon <br>	
<i>Winter Conference on Applications of Computer Vision (WACV) </i><i> 2021</i>
<br />
<a href="javascript:toggleBibtex('zhang2021resnet')">[BibTeX]</a>
<a href="https://arxiv.org/abs/2010.12496" target="_blank">[PDF]</a>
</p>
<div id="bib_zhang2021resnet" class="bibtex noshow">
<pre>
@inproceedings{zhang2021resnet,
  title={Resnet or densenet? introducing dense shortcuts to resnet},
  author={Zhang, Chaoning and Benz, Philipp and Argaw, Dawit Mureja and Lee, Seokju and Kim, Junsik and Rameau, Francois and Bazin, Jean-Charles and Kweon, In So},
  booktitle={Proceedings of the IEEE/CVF winter conference on applications of computer vision},
  pages={3550--3559},
  year={2021}
}
</pre>
</div>
</li>
	    
<li ><p>
<b> Unsupervised Intra-domain Adaptation for Semantic Segmentation through Self-Supervision </b>
<br> F. Pan, I. Shin, <b>F. Rameau</b>, S. Lee, I. Kweon <br>	
<i>Conference on Computer Vision and Pattern Recognition (CVPR), Oral </i><i> 2020</i>
<br />
<a href="javascript:toggleBibtex('pan2020unsupervised')">[BibTeX]</a>
<a href="https://feipan664.github.io/IntraDA/">[Project]</a>
<a href="https://github.com/feipan664/IntraDA">[Code]</a>
<a href="https://openaccess.thecvf.com/content_CVPR_2020/papers/Pan_Unsupervised_Intra-Domain_Adaptation_for_Semantic_Segmentation_Through_Self-Supervision_CVPR_2020_paper.pdf" target="_blank">[PDF]</a>
</p>
<div id="bib_pan2020unsupervised" class="bibtex noshow">
<pre>
@inproceedings{pan2020unsupervised,
  title={Unsupervised intra-domain adaptation for semantic segmentation through self-supervision},
  author={Pan, Fei and Shin, Inkyu and Rameau, Francois and Lee, Seokju and Kweon, In So},
  booktitle={Proceedings of the IEEE/CVF Conference on Computer Vision and Pattern Recognition},
  pages={3764--3773},
  year={2020}
}
</pre>
</div>
</li>


<li ><p>
<b> Linear RGB-D SLAM for Atlanta World </b>
<br> J. Joo, T. Oh, <b>F. Rameau</b>, I. Kweon <br>	
<i>International Conference on Robotics and Automation (ICRA), </i><i> 2020</i>
<br />
<a href="javascript:toggleBibtex('joo2020linear')">[BibTeX]</a>
<a href="https://ieeexplore.ieee.org/stamp/stamp.jsp?arnumber=9196561" target="_blank">[PDF]</a>
</p>
<div id="bib_joo2020linear" class="bibtex noshow">
<pre>
@inproceedings{joo2020linear,
  title={Linear rgb-d slam for atlanta world},
  author={Joo, Kyungdon and Oh, Tae-Hyun and Rameau, Francois and Bazin, Jean-Charles and Kweon, In So},
  booktitle={2020 IEEE International Conference on Robotics and Automation (ICRA)},
  pages={1077--1083},
  year={2020},
  organization={IEEE}
}
</pre>
</div>
</li>



<li ><p>
<b> DeepPTZ: Deep Self-Calibration for PTZ Cameras </b>
<br> C. Zhang, <b>F. Rameau</b>, J. Kim, D. Mureja, I. Kweon <br>	
<i>Winter Conference on Applications of Computer Vision (WACV), </i><i> 2020</i>
<br />
<a href="javascript:toggleBibtex('zhang2020deepptz')">[BibTeX]</a>
<a href="http://openaccess.thecvf.com/content_WACV_2020/papers/Zhang_DeepPTZ_Deep_Self-Calibration_for_PTZ_Cameras_WACV_2020_paper.pdf" target="_blank">[PDF]</a>
</p>
<div id="bib_zhang2020deepptz" class="bibtex noshow">
<pre>
@inproceedings{zhang2020deepptz,
  title={DeepPTZ: Deep Self-Calibration for PTZ Cameras},
  author={Zhang, Chaoning and Rameau, Francois and Kim, Junsik and Argaw, Dawit Mureja and Bazin, Jean-Charles and Kweon, In So},
  booktitle={The IEEE Winter Conference on Applications of Computer Vision},
  pages={1041--1049},
  year={2020}
}
</pre>
</div>
</li>




<li ><p>
<b> Revisiting Residual Networks with Nonlinear Shortcuts </b>
<br> C. Zhang, <b>F. Rameau</b>, S. Lee, J. Kim, P. Benz, D. Mureja, J.C. Bazin, I. Kweon <br>	
<i>British Machine Vision Conference (BMVC), </i><i> 2019</i>
<br />
<a href="javascript:toggleBibtex('zhang2019revisiting')">[BibTeX]</a>
<a href="https://www.researchgate.net/profile/Seokju_Lee2/publication/334670766_Revisiting_Residual_Networks_with_Nonlinear_Shortcuts/links/5d769292299bf1cb80952583/Revisiting-Residual-Networks-with-Nonlinear-Shortcuts.pdf" target="_blank">[PDF]</a>
</p>
<div id="bib_zhang2019revisiting" class="bibtex noshow">
<pre>
@inproceedings{zhang2019revisiting,
  title={Revisiting Residual Networks with Nonlinear Shortcuts},
  author={Zhang, Chaoning and Rameau, Francois and Lee, Seokju and Kim, Junsik and Benz, Philipp and Argaw, Dawit Mureja and Bazin, Jean-Charles and Kweon, In So},
  booktitle={British Machine Vision Conference (BMVC)},
  year={2019},
  organization={British Machine Vision Conference (BMVC)}
}
</pre>
</div>
</li>


<li ><p>
<b> Vehicular Multi-Camera Sensor System for Automated Visual Inspection of Electric Power Distribution Equipment </b>
<br> J. Park, U. Shin, G. Shim, K. Joo, <b>F. Rameau</b>, J. Kim, D. Choi, I. Kweon <br>	
<i>International Conference on Intelligent Robots (IROS), </i><i> 2019</i>
<br />
<a href="javascript:toggleBibtex('park2019vehicular')">[BibTeX]</a>
<a href="https://www.researchgate.net/profile/Francois_Rameau/publication/334761742_Vehicular_Multi-Camera_Sensor_System_for_Automated_Visual_Inspection_of_Electric_Power_Distribution_Equipment/links/5d3ffe97299bf1995b561d4e/Vehicular-Multi-Camera-Sensor-System-for-Automated-Visual-Inspection-of-Electric-Power-Distribution-Equipment.pdf" target="_blank">[PDF]</a>
</p>
<div id="bib_park2019vehicular" class="bibtex noshow">
<pre>
@inproceedings{park2019vehicular,
  title={Vehicular Multi-Camera Sensor System for Automated Visual Inspection of Electric Power Distribution Equipment},
  author={Park, Jinsun and Shin, Ukcheol and Shim, Gyumin and Joo, Kyungdon and Rameau, Francois and Kim, Junhyeok and Choi, Dong-Geol and Kweon, In So},
  booktitle={IEEE/RSJ Int’l Conf. on Intelligent Robots and Systems (IROS). IEEE},
  year={2019}
}
</pre>
</div>
</li>	

<li ><p>
<b> Camera Auto-Exposure Control with Noise-Aware Image Quality Assessment </b>
<br> U. Shin, J. Park, G. Shim, <b>F. Rameau</b>, I. Kweon <br>	
<i>International Conference on Intelligent Robots (IROS), </i><i> 2019</i>
<br />
<a href="javascript:toggleBibtex('shin2019camera')">[BibTeX]</a>
<a href="https://arxiv.org/abs/1907.12646" target="_blank">[PDF]</a>
<a href="https://github.com/WookCheolShin/Noise-AwareCameraExposureControl" target="_blank">[Project page]</a>
</p>
<div id="bib_shin2019camera" class="bibtex noshow">
<pre>
@article{shin2019camera,
  title={Camera exposure control for robust robot vision with noise-aware image quality assessment},
  author={Shin, Ukcheol and Park, Jinsun and Shim, Gyumin and Rameau, Francois and Kweon, In So},
  journal={arXiv preprint arXiv:1907.12646},
  year={2019}
}
</pre>
</div>
</li>	


<li ><p>
<b> Video Retargeting: Trade-off between Content Preservation and Spatio-temporal Consistency </b>
<br> D. Cho, Y. Jung, <b>F. Rameau</b>, D. Kim, S. Woo, I. Kweon, <br>	
<i>ACM Multimedia (ACCM),</i><i> 2019</i>
<br />
<a href="javascript:toggleBibtex('cho2019video')">[BibTeX]</a>
<a href="https://dl.acm.org/doi/pdf/10.1145/3343031.3350895" target="_blank">[PDF]</a>
</p>
<div id="bib_cho2019video" class="bibtex noshow">
<pre>
@inproceedings{cho2019video,
  title={Video Retargeting: Trade-off between Content Preservation and Spatio-temporal Consistency},
  author={Cho, Donghyeon and Jung, Yunjae and Rameau, Francois and Kim, Dahun and Woo, Sanghyun and Kweon, In So},
  booktitle={Proceedings of the 27th ACM International Conference on Multimedia},
  pages={882--889},
  year={2019}
}

</pre>
</div>
</li>	

<li ><p>
<b>
Segment2Regress: Real-Time Monocular 3D Object Localization in Two Stages</b>
<br>J. Choe, K. Joo, <b>F. Rameau</b>, I. Kweon,<br>	
<i>Robotics: Science and Systems (RSS),</i><i> 2019</i>
<br />
<a href="javascript:toggleBibtex('choe2019segment2regress')">[BibTeX]</a>
<a href="http://rss2019.informatik.uni-freiburg.de/papers/0079_FI.pdf" target="_blank">[PDF]</a>
<a href="https://github.com/LifeBeyondExpectations/Segment2Regress" target="_blank">[Project page]</a>
</p>
<div id="bib_choe2019segment2regress" class="bibtex noshow">
<pre>
@inproceedings{choe2019segment2regress,
  title={Segment2Regress: Monocular 3D Vehicle Localization in Two Stages},
  author={Choe, Jaesung and Joo, Kyungdon and Rameau, Francois and Shim, Gyumin and Kweon, In So},
  booktitle={Robotics: Science and Systems (RSS)},
  year={2019},
  organization={Robotics: Science and Systems (RSS)}
}
</pre>
</div>
</li>	


<li ><p>
<b> <!<img src="http://cml.kaist.ac.kr/images/DeepCalib/row_based_new_images.png" width="200" height="2" alt="DeepCalib" align="left"> 
DeepCalib: a deep learning approach for automatic intrinsic calibration of wide field-of-view cameras</b>
<br>O. Bogdan, V. Eckstein, <b>F. Rameau</b>, J.C. Bazin<br>	
<i>ACM SIGGRAPH European Conference on Visual Media Production (CVMP),</i><i> Dec 2018</i>
<br />
<a href="javascript:toggleBibtex('bogdan2018deepcalib')">[BibTeX]</a>
<a href="https://drive.google.com/file/d/1pZgR3wNS6Mvb87W0ixOHmEVV6tcI8d50/view" target="_blank">[PDF]</a>
<a href="http://cml.kaist.ac.kr/projects/DeepCalib" target="_blank">[Project page]</a>
</p>
<div id="bib_bogdan2018deepcalib" class="bibtex noshow">
<pre>
@inproceedings{bogdan2018deepcalib,
  title={DeepCalib: a deep learning approach for automatic intrinsic calibration of wide field-of-view cameras},
  author={Bogdan, Oleksandr and Eckstein, Viktor and Rameau, Francois and Bazin, Jean-Charles},
  booktitle={Proceedings of the 15th ACM SIGGRAPH European Conference on Visual Media Production},
  pages={6},
  year={2018},
  organization={ACM}
}
</pre>
</div>
</li>	
	    
<li ><p>
<b>Intelligent Assistant for People with Low Vision Abilities</b>
<br>O. Bogdan*, O. Yurchenko*, O. Bailo*, <b>F. Rameau</b>, D. Yoo, I. Kweon<br>	
<i>The Pacific-Rim Symposium on Image and Video Technology (PSIVT),</i>
<i>Nov 2017</i>
<br />
<a href="javascript:toggleBibtex('bogdan2017intelligent')">[BibTeX]</a>
<a href="https://www.researchgate.net/profile/Oleksandr_Bailo/publication/319956300_Intelligent_Assistant_for_People_with_Low_Vision_Abilities/links/5a9357ff45851535bcd93c65/Intelligent-Assistant-for-People-with-Low-Vision-Abilities.pdf" target="_blank">[PDF]</a>
<a href="https://github.com/BAILOOL/Assistant-for-People-with-Low-Vision" target="_blank">[Code]</a>
</p>
<div id="bib_bogdan2017intelligent" class="bibtex noshow">
<pre>
@inproceedings{bogdan2017intelligent,
  title={Intelligent Assistant for People with Low Vision Abilities},
  author={Bogdan, Oleksandr and Yurchenko, Oleg and Bailo, Oleksandr and Rameau, Francois and Yoo, Donggeun and Kweon, In So},
  booktitle={Pacific-Rim Symposium on Image and Video Technology},
  pages={448--462},
  year={2017},
  organization={Springer}
}
</pre>
</div>
</li>
	    
	    
<li ><p>
<b>Pixel-level matching for video object segmentation using convolutional neural networks</b>
<br>J.S. Yoon, <b>F. Rameau</b>, J. Kim, S. Lee, S. Shin, I.KWEON<br>	
<i>IEEE International Conference on Computer Vision (ICCV),</i>
<i>Oct 2017</i>
<br />
<a href="javascript:toggleBibtex('yoon2017pixel')">[BibTeX]</a>
<a href="https://www.researchgate.net/profile/Francois_Rameau/publication/318959852_Pixel-Level_Matching_for_Video_Object_Segmentation_Using_Convolutional_Neural_Networks/links/598814b045851560584da4b0/Pixel-Level-Matching-for-Video-Object-Segmentation-Using-Convolutional-Neural-Networks.pdf?_sg%5B0%5D=CHgnQLv7lAELRNX1EJv3lb9qXiVbXZMBi4IdWmpwtLFJYhl76er9SQxFfrSIZ_d1bmvEa5MZETQ2g5pMWMbKoQ.mVGkaTDY0cuIH2tkYhJ2sCZcqoVbVxB29AYL8nnfB2YaT3Ramk0ry5v_V0BwqFM768cBZycAYdbs8ZNdlQuWYA&_sg%5B1%5D=g_b6jASIJsffqyDqe7-QmISMBjx61vcrQUrFGmrfCSEdRYtfcTEk5DfaCJicLksnDmWkh_p5gls6grWcHQ_hREldsYUTrPxaWvlxM4aWAdHA.mVGkaTDY0cuIH2tkYhJ2sCZcqoVbVxB29AYL8nnfB2YaT3Ramk0ry5v_V0BwqFM768cBZycAYdbs8ZNdlQuWYA&_iepl=" target="_blank">[PDF]</a>
<a href="https://jsyoon4325.wixsite.com/pix-matching" target="_blank">[Project Page]</a>
</p>
<div id="bib_yoon2017pixel" class="bibtex noshow">
<pre>
@inproceedings{yoon2017pixel,
  title={Pixel-level matching for video object segmentation using convolutional neural networks},
  author={Yoon, Jae Shin and Rameau, Francois and Kim, Junsik and Lee, Seokju and Shin, Seunghak and Kweon, In So},
  booktitle={Computer Vision (ICCV), 2017 IEEE International Conference on},
  pages={2186--2195},
  year={2017},
  organization={IEEE}
}
</pre>
</div>
</li>
    	    

<li ><p>
<b>Robust road marking detection and recognition using density-based grouping and machine learning techniques</b>
<br>O. Bailo, S. Lee, <b>F. Rameau</b>, J. Yoon, I. Kweon<br>	
<i>IEEE Winter Conference on Applications of Computer Vision (WACV),</i><i> Mar 2017</i>
<br />
<a href="javascript:toggleBibtex('bailo2017robust')">[BibTeX]</a>
<a href="https://www.researchgate.net/publication/312286941_Robust_Road_Marking_Detection_and_Recognition_Using_Density-Based_Grouping_and_Machine_Learning_Techniques" target="_blank">[PDF]</a>
</p>
<div id="bib_bailo2017robust" class="bibtex noshow">
<pre>
@inproceedings{bailo2017robust,
  title={Robust road marking detection and recognition using density-based grouping and machine learning techniques},
  author={Bailo, Oleksandr and Lee, Seokju and Rameau, Francois and Yoon, Jae Shin and Kweon, In So},
  booktitle={Applications of Computer Vision (WACV), 2017 IEEE Winter Conference on},
  pages={760--768},
  year={2017},
  organization={IEEE}
}
</pre>
</div>
</li>

<li ><p>
<b>Thermal-infrared based drivable region detection</b>
<br>J.S. Yoon, K. Park, S. Hwang, N. Kim, Y. Choi, <b>F. Rameau</b>, I. Kweon<br>	
<i>Intelligent Vehicles Symposium (IV),</i><i> Jun 2016</i>
<br />
<a href="javascript:toggleBibtex('yoon2016thermal')">[BibTeX]</a>
<a href="https://sites.google.com/site/drivableregion/home" target="_blank">[Project Page]</a>
</p>
<div id="bib_yoon2016thermal" class="bibtex noshow">
<pre>
@inproceedings{yoon2016thermal,
  title={Thermal-infrared based drivable region detection},
  author={Yoon, Jae Shin and Park, Kibaek and Hwang, Soonmin and Kim, Namil and Choi, Yukyung and Rameau, Fran{\c{c}}ois and so Kweon, In},
  booktitle={Intelligent Vehicles Symposium (IV), 2016 IEEE},
  pages={978--985},
  year={2016},
  organization={IEEE}
}

</pre>
</div>
</li>


<li ><p>
<b>All-around depth from small motion with a spherical panoramic camera</b>
<br>S. Im, H. Ha, <b>F. Rameau</b>, H.G. Jeon, G. Choe, I. Kweon<br>	
<i>European Conference on Computer Vision (ECCV),</i><i> Oct 2016</i>
<br />
<a href="javascript:toggleBibtex('im2016all')">[BibTeX]</a>
<a href="https://sites.google.com/site/shimrcv/imeccv16" target="_blank">[Project Page]</a>
</p>
<div id="bib_im2016all" class="bibtex noshow">
<pre>
@inproceedings{im2016all,
  title={All-around depth from small motion with a spherical panoramic camera},
  author={Im, Sunghoon and Ha, Hyowon and Rameau, Fran{\c{c}}ois and Jeon, Hae-Gon and Choe, Gyeongmin and Kweon, In So},
  booktitle={European Conference on Computer Vision},
  pages={156--172},
  year={2016},
  organization={Springer}
}
</pre>
</div>
</li>


<li ><p>
<b>A real-time augmented reality system to see-through cars</b>
<br><b>F. Rameau</b>, H. Ha, K. Joo, J. Choi, K. Park, I. Kweon<br>	
<i>IEEE International Symposium on Mixed and Augmented Reality (ISMAR),</i>
<i>Dec 2016</i>
<br />
<a href="javascript:toggleBibtex('rameau2016real')">[BibTeX]</a>
<a href="https://www.researchgate.net/profile/Francois_Rameau/publication/305695638_A_Real-time_Augmented_Reality_System_to_See-Through_Cars/links/59e43c7baca2724cbfe43651/A-Real-time-Augmented-Reality-System-to-See-Through-Cars.pdf?_sg%5B0%5D=iu1C7FR4z27DPf_4SqZizA7LNwdl9uCKVvOOU7AovEyi_T9s2DqaYm_TlR1s0jG6z3j1rJZvtQ6F9fEJh25x4A.KmR0NckGm6qkNTMLKjVuw4DZge9YqBW5CNkM56GmI-ff5l-IeMQl5js_-L_bs_1pWN3Nw3LO5BsFwtaXVgiR-A&_sg%5B1%5D=ld2pXuIdTF8PlBRRm9_KKs_gGg6SVtBbQOE7k-GSfIyzktOSnDKaOIrdfZfeeIHUHwng46r8GWwkSmz6QjxSJOr2D0dBmsUQFJIX26exO55C.KmR0NckGm6qkNTMLKjVuw4DZge9YqBW5CNkM56GmI-ff5l-IeMQl5js_-L_bs_1pWN3Nw3LO5BsFwtaXVgiR-A&_iepl=" target="_blank">[PDF]</a>
</p>
<div id="bib_rameau2016real" class="bibtex noshow">
<pre>
@article{rameau2016real,
  title={A real-time augmented reality system to see-through cars},
  author={Rameau, Fran{\c{c}}ois and Ha, Hyowon and Joo, Kyungdon and Choi, Jinsoo and Park, Kibaek and Kweon, In So},
  journal={IEEE transactions on visualization and computer graphics},
  volume={22},
  number={11},
  pages={2395--2404},
  year={2016},
  publisher={IEEE}
}
</pre>
</div>
</li>


<li ><p>
<b>6-DOF Direct Homography Tracking with Extended Kalman Filter</b>
<br>H. Ha, <b>F. Rameau</b>, I. Kweon<br>	
<i>Pacific-Rim Symposium on Image and Video Technology (PSIVT),</i><i> Dec 2015</i>
<br />
<a href="javascript:toggleBibtex('ha20156')">[BibTeX]</a>
<a href="https://www.researchgate.net/profile/Francois_Rameau/publication/282869104_6-DOF_Direct_Homography_Tracking_with_Extended_Kalman_Filter/links/5620d6ee08ae70315b559544.pdf" target="_blank">[PDF]</a>
</p>
<div id="bib_ha20156" class="bibtex noshow">
<pre>
@inproceedings{ha20156,
  title={6-DOF Direct Homography Tracking with Extended Kalman Filter},
  author={Ha, Hyowon and Rameau, Fran{\c{c}}ois and Kweon, In So},
  booktitle={Pacific-Rim Symposium on Image and Video Technology},
  pages={447--460},
  year={2015},
  organization={Springer}
}
</pre>
</div>
</li>


<li ><p>
<b>Structure from motion using a hybrid stereo-vision system</b>
<br><b>F. Rameau</b>, D. Sidibé, C. Demonceaux, D. Fofi<br>	
<i>IEEE Ubiquitous Robots and Ambient Intelligence (URAI),</i><i> Oct 2015</i>
<br />
<a href="javascript:toggleBibtex('rameau2015structure')">[BibTeX]</a>
<a href="https://www.researchgate.net/profile/Francois_Rameau/publication/282868272_Fused_Robot_Pose_Estimation_using_Embedded_and_External_Cameras/links/5620c08b08aed8dd194057af.pdf" target="_blank">[PDF]</a>
</p>
<div id="bib_rameau2015structure" class="bibtex noshow">
<pre>
@inproceedings{rameau2015structure,
  title={Structure from motion using a hybrid stereo-vision system},
  author={Rameau, Fran{\c{c}}ois and Sidib{\'e}, D{\'e}sir{\'e} and Demonceaux, C{\'e}dric and Fofi, David},
  booktitle={12th International Conference on Ubiquitous Robots and Ambient Intelligence},
  year={2015}
}
</pre>
</div>
</li>

<li ><p>
<b>Fused robot pose estimation using embedded and external cameras</b>
<br>K. Park, H. Ha, <b>F. Rameau</b>, I. Kweon<br>	
<i>IEEE Ubiquitous Robots and Ambient Intelligence (URAI),</i><i> Oct 2015</i>
<br />
<a href="javascript:toggleBibtex('park2015fused')">[BibTeX]</a>
<a href="https://www.researchgate.net/profile/Francois_Rameau/publication/282868272_Fused_Robot_Pose_Estimation_using_Embedded_and_External_Cameras/links/5620c08b08aed8dd194057af.pdf" target="_blank">[PDF]</a>
</p>
<div id="bib_park2015fused" class="bibtex noshow">
<pre>
@inproceedings{park2015fused,
  title={Fused robot pose estimation using embedded and external cameras},
  author={Park, Kibaek and Ha, Hyowon and Rameau, Fran{\c{c}}ois and Kweon, In So},
  booktitle={Ubiquitous Robots and Ambient Intelligence (URAI), 2015 12th International Conference on},
  pages={375--376},
  year={2015},
  organization={IEEE}
}
</pre>
</div>
</li>

<li ><p>
<b>Control of a PTZ camera in a hybrid vision system</b>
<br><b>F. Rameau</b>, C. Demonceaux, D. Sidibé, D. Fofi<br>	
<i>International Conference on Computer Vision Theory and Applications (VISAPP),</i><i> Dec 2014</i>
<br />
<a href="javascript:toggleBibtex('rameau2014control')">[BibTeX]</a>
<a href="https://www.researchgate.net/profile/Francois_Rameau/publication/282868272_Fused_Robot_Pose_Estimation_using_Embedded_and_External_Cameras/links/5620c08b08aed8dd194057af.pdf" target="_blank">[PDF]</a>
</p>
<div id="bib_rameau2014control" class="bibtex noshow">
<pre>
@inproceedings{rameau2014control,
  title={Control of a PTZ camera in a hybrid vision system},
  author={Rameau, Fran{\c{c}}ois and Demonceaux, C{\'e}dric and Sidib{\'e}, D{\'e}sir{\'e} and Fofi, David},
  booktitle={Computer Vision Theory and Applications (VISAPP), 2014 International Conference on},
  volume={3},
  pages={397--405},
  year={2014},
  organization={IEEE}
}
</pre>
</div>
</li>


<li ><p>
<b>Self-calibration of a PTZ camera using new LMI constraints</b>
<br><b>F. Rameau</b>, A. Habed, C. Demonceaux, D. Sidibé, D. Fofi<br>	
<i>Asian Conference on Computer Vision (ACCV),</i><i> Nov 2012</i>
<br />
<a href="javascript:toggleBibtex('rameau2012self')">[BibTeX]</a>
<a href="https://www.researchgate.net/profile/Cedric_Demonceaux2/publication/232614240_Self-calibration_of_a_PTZ_Camera_Using_New_LMI_Constraints/links/00b49523c67986a111000000.pdf" target="_blank">[PDF]</a>
</p>
<div id="bib_rameau2012self" class="bibtex noshow">
<pre>
@inproceedings{rameau2012self,
  title={Self-calibration of a PTZ camera using new LMI constraints},
  author={Rameau, Fran{\c{c}}ois and Habed, Adlane and Demonceaux, C{\'e}dric and Sidib{\'e}, D{\'e}sir{\'e} and Fofi, David},
  booktitle={Asian Conference on Computer Vision},
  pages={297--308},
  year={2012},
  organization={Springer}
}
</pre>
</div>
</li>

</ul>  


<h4 style="margin-bottom:0px;padding-top:20px;">Patents</h4>

    <ul class="biblist">
	    
<li ><p>
<b>Camera Calibration Method And Apparatus Based On Deep Learning</b>
<br>J.C. Bazin, <b>F. Rameau</b> O. Bogdan, V. Eckstein<br>	
<i>US patent: App.; US20200043197A1</i>
<br />
</li>

</ul>

<h4 style="margin-bottom:0px;padding-top:20px;">International Workshops</h4>

<ul class="biblist">
	
<li ><p>
<b>Real time Demonstration of Collaborative Localization of a Swarm of Connected Vehicles</b>
<br><b>F. Rameau</b>, O. Bailo, J. Park, K. Joo, J. Choe, I. Kweon <br>	
<i> International Workshop on Frontiers of Computer Vision (IW-FCV),</i><i> Feb 2018</i> (Best demo award)
<br />
</li>


<li ><p>
<b>Pixel-Level Tracking using Convolutional Neural Networks</b>
<br>J. Yoon, <b>F. Rameau</b>, J. Kim, S. Lee, I. Kweon <br>	
<i> International Workshop On Robust Computer Vision (IWRCV),</i><i> Dec 2017</i> 
<br />
</li>

<li ><p>
<b>See-Through Cameras for connected cars</b>
<br><b>F. Rameau</b>, H. Ha,K. Joo, J. Choi, I. Kweon  <br>	
<i> International Workshop On Robust Computer Vision (IWRCV),</i><i> Dec 2016</i> 
<br />
</li>

<li ><p>
<b> Real-time Vehicular Vision System to Seamlessly See-through Car</b>
<br> <b>F. Rameau</b>, H. Ha,K. Joo, J. Choi, I. Kweon  <br>	
<i>ECCVWorkshop - Assistive Computer Vision and Robotics (ECCVW), Oct 2016.</i>
<br />
<a href="javascript:toggleBibtex('rameau2016real')">[BibTeX]</a>
<a href="https://link.springer.com/chapter/10.1007/978-3-319-48881-3_15" target="_blank">[PDF]</a>
</p>
<div id="bib_rameau2016real" class="bibtex noshow">
<pre>
@inproceedings{rameau2016real,
  title={A Real-Time Vehicular Vision System to Seamlessly See-Through Cars},
  author={Rameau, Francois and Ha, Hyowon and Joo, Kyungdon and Choi, Jinsoo and Kweon, InSo},
  booktitle={European Conference on Computer Vision},
  pages={209--222},
  year={2016},
  organization={Springer}
}
</pre>
</div>
</li>

<li ><p>
<b> Tracking Moving Objects With a Catadioptric Sensor Using Particle Filter</b>
<br> F. Rameau, D. Sidibe, C. Demonceaux, D. Fofi <br>	
<i>ICCVW (OMNIVIS'11), Nov 2011.</i>
<br />
<a href="javascript:toggleBibtex('rameau2011tracking')">[BibTeX]</a>
<a href="https://hal-univ-bourgogne.archives-ouvertes.fr/file/index/docid/627905/filename/2011_rameau_omnivis.pdf" target="_blank">[PDF]</a>
</p>
<div id="bib_rameau2011tracking" class="bibtex noshow">
<pre>
@inproceedings{rameau2011tracking,
  title={Tracking moving objects with a catadioptric sensor using particle filter},
  author={Rameau, Francois and Sidib{\'e}, D{\'e}sir{\'e} and Demonceaux, Cedric and Fofi, David},
  booktitle={Computer Vision Workshops (ICCV Workshops), 2011 IEEE International Conference on},
  pages={328--334},
  year={2011},
  organization={IEEE}
}
</pre>
</div>
</li>


</ul>

<h4 style="margin-bottom:0px;padding-top:20px;">Other Publications</h4>

    <ul class="biblist">
	    
<li ><p>
<b>Light-weight place recognition and loop detection using road markings</b>
<br>O. Bailo, <b>F. Rameau</b> and I. Kweon<br>	
<i>arXiv:1710.07434</i>
<br />
<a href="javascript:toggleBibtex('bailo2017light')">[BibTeX]</a>
<a href="https://arxiv.org/pdf/1710.07434.pdf" target="_blank">[PDF]</a>
</p>
<div id="bib_bailo2017light" class="bibtex noshow">
<pre>
@article{bailo2017light,
  title={Light-weight place recognition and loop detection using road markings},
  author={Bailo, Oleksandr and Rameau, Francois and Kweon, In So},
  journal={arXiv preprint arXiv:1710.07434},
  year={2017}
}
</pre>
</div>
</li>

</ul>


<h4 style="margin-bottom:0px;padding-top:20px;">National Conferences</h4>

<ul class="biblist">
	
<li ><p>
<b>선행차량투시를위한실시간증강현실시스템연구</b>
<br>주경돈, 하효원, 최진수, <b>F. Rameau</b>, 권인소  <br>	
<i> 2016 년도한국멀티미디어학회추 계학술발표대회</i> 
<br />
</li>

<li ><p>
<b>étude d’un système de stéréo-vision hybride</b>
<br><b>F. Rameau</b>, C. Demonceaux, D. Sidibe, D. Fofi  <br>	
<i> Congrès des jeunes chercheurs en vision par ordinateur (ORASIS), France 2013 </i> 
<br />
</li>

<li ><p>
<b>Une approche performante de suivi visuel pour les caméras catadioptriques</b>
<br><b>F. Rameau</b>, D. Sidibe, C. Demonceaux, D. Fofi  <br>	
<i> Reconnaissance des Formes et Intelligence Artificielle (RFIA), France, 2012</i> 
<br />
</li>
	
	
</ul>

<h4 style="margin-bottom:0px;padding-top:20px;">Theses</h4>
    
    <ul class="biblist">
		
		<li ><p>
            <b>Système de vision hybride à fovéation pour la vidéo-surveillance et la navigation robotique</b>
	    <br> 
	    <i> Ph.D Thesis - University of Burgundy, Dec 2014</i>
            <br />
            <a href="javascript:toggleBibtex('rameau2014systeme')">[BibTeX]</a>
		<a href="https://tel.archives-ouvertes.fr/tel-01128289/file/2014DIJOS031.pdf" target="_blank">[PDF]</a>
		</p>
<div id="bib_rameau2014systeme" class="bibtex noshow">
<pre>
@phdthesis{rameau2014systeme,
  title={Syst{\`e}me de vision hybride {\`a} fov{\'e}ation pour la vid{\'e}o-surveillance et la navigation robotique},
  author={Rameau, Fran{\c{c}}ois},
  year={2014},
  school={Universit{\'e} de Bourgogne}
}
</pre>
</div>
        </li>

        <li ><p>
            <b>Visual tracking using catadioptric sensors</b>
	    <br> 
	    <i> Master Thesis - Erasmus Mundus in Vision and Robotics (VIBOT), Jun 2011</i>
            <br />
        </li>
    </ul>
    
   
    </div><!-- /.article-wrap -->
    {% if site.disqus_shortname and page.comments %}
      <section id="disqus_thread"></section><!-- /#disqus_thread -->
    {% endif %}
  </article>
</div><!-- /#index -->
<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}          

</body>
</html>
